<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 Alliance Dgtl. https://alb.ua/uk
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Alliance\AlliancePay\Api\GatewayClientInterface"
                type="Alliance\AlliancePay\Model\Payment\Gateway\HttpClient" />
    <preference for="Alliance\AlliancePay\Api\SensitiveDataManagerInterface"
                type="Alliance\AlliancePay\Model\Config\SensitiveDataManager" />
    <preference for="Alliance\AlliancePay\Api\PaymentProcessorInterface"
                type="Alliance\AlliancePay\Model\Payment\Processor\PaymentProcessor" />
    <preference for="Alliance\AlliancePay\Api\Data\AllianceOrderInterface"
                type="Alliance\AlliancePay\Model\AllianceOrder" />
    <preference for="Alliance\AlliancePay\Api\RefundManagerInterface"
                type="Alliance\AlliancePay\Model\Payment\Processor\RefundProcessor"/>
    <preference for="Alliance\AlliancePay\Api\AllianceOrderRepositoryInterface"
                type="Alliance\AlliancePay\Model\AllianceOrderRepository" />
    <preference for="Alliance\AlliancePay\Api\ConvertDataServiceInterface"
                type="Alliance\AlliancePay\Service\ConvertData\ConvertDataService" />
    <preference for="Alliance\AlliancePay\Api\CallbackHandlerInterface"
                type="Alliance\AlliancePay\Model\Api\CallbackHandler" />
    <preference for="Alliance\AlliancePay\Api\RefundRepositoryInterface"
                type="Alliance\AlliancePay\Model\RefundRepository" />
    <preference for="Alliance\AlliancePay\Api\Data\RefundInterface"
                type="Alliance\AlliancePay\Model\Refund" />
    <preference for="Alliance\AlliancePay\Api\CustomerDataValidatorInterface"
                type="Alliance\AlliancePay\Model\Validator\CustomerDataValidator" />
    <type name="Alliance\AlliancePay\Logger\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/alliance_payment.log</argument>
        </arguments>
    </type>
    <type name="Alliance\AlliancePay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">alliance_pay</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Alliance\AlliancePay\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="payment/alliance_payment_config/authorization_key" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="alliance_pay"
                      xsi:type="const">Alliance\AlliancePay\Model\Payment\AlliancePayment::PAYMENT_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="alliance_restrict_a2a_creditmemo"
                type="Alliance\AlliancePay\Plugin\RestrictA2ACreditmemo"
                sortOrder="10"/>
    </type>

    <virtualType name="AlliancePayGatewayConfig"
                 type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">
                Alliance\AlliancePay\Model\Payment\AlliancePayment::PAYMENT_METHOD_CODE
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="AlliancePayConfigValueHandler"
                 type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AlliancePayGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="AlliancePayValueHandlerPool"
                 type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AlliancePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="AlliancePayCommandPool"
                 type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">
                    Alliance\AlliancePay\Model\Payment\Command\InitializeCommand
                </item>
                <item name="authorize" xsi:type="string">
                    Alliance\AlliancePay\Model\Payment\Command\AuthorizeCommand
                </item>
                <item name="capture" xsi:type="string">
                    Alliance\AlliancePay\Model\Payment\Command\CaptureCommand
                </item>
                <item name="refund" xsi:type="string">
                    Alliance\AlliancePay\Model\Payment\Command\RefundCommand
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="AlliancePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">
                Alliance\AlliancePay\Model\Payment\AlliancePayment::PAYMENT_METHOD_CODE
            </argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AlliancePayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">AlliancePayCommandPool</argument>
        </arguments>
    </virtualType>
</config>
