<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 Alliance Dgtl. https://alb.ua/uk
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="alliance_pay" frontName="alliance_pay">
            <module name="Alliance_AlliancePay"/>
        </route>
    </router>
</config>
